<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WhatsApp Statistics</title>
    <link rel="stylesheet" href="./assets/css/app.css">
</head>
<body>
    <div id="app">
        <div>
            <div>Aantal berichten in totaal: {{ statistics_lines_count }}</div> <hr>
            <div v-for="(value, key) in statistics_person_lines_count">{{ key }} - {{ value }} - {{ ((value / statistics_lines_count) * 100).toFixed(2) }}%</div> <hr>
            <div v-for="(value, key) in statistics_emoji_count">{{ key }} - {{ value }}</div> <hr>
            <div v-if="statistics_lines_count == 0"><input type="file" @change="processFile($event)"></div>
        </div>
    </div>
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/moment.js"></script>
    <script src="./assets/js/lodash.js"></script>
    <script src="./assets/js/app.js"></script>
</body>
</html>