<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WhatsApp Statistics</title>
    <link rel="stylesheet" href="./assets/css/app.css">
</head>
<body>
    <div id="app">
        <div class="app-content">
            <!-- <div class="title"><span class="whatsapp-green">whatsapp</span> statistics</div> -->
            <div class="grid-container" v-if="statistics_messages_count == 0">
                <input type="file" @change="processFile($event)">
            </div>
            <!-- <div class="grid-container" v-else> -->
                <!-- <div>Aantal berichten in totaal: {{ statistics_messages_count }}</div> <hr> -->
                <transition-group name="list" class="list-group grid-x grid-margin-x" tag="div">
                <div v-for="(value, key) in statistics_person_messages_count" :key="key" class="person-messages-count small-3 cell">
                    <div class="person-name">{{ key }}</div>
                    <div class="person-value"><span>{{ value }}</span> <span>{{ ((value / statistics_messages_count) * 100).toFixed(2) }}%</span></div>
                </div>
                </transition-group>
                <div class="grid-x">
                    <div class="small-6 cell"><canvas id="chart_statistics_emoji_count"></canvas></div>
                    <div class="small-6 cell"><canvas id="chart_statistics_messages_per_day_count"></canvas></div>
                </div>
                <!-- <div v-for="(value, key) in statistics_emoji_count">{{ key }} - {{ value }}</div> <hr> -->
                <!-- <div v-for="(value, key) in statistics_messages_per_day_count">{{ key }} - {{ value }}</div> <hr> -->
            <!-- </div> -->
        </div>
    </div>
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/moment.js"></script>
    <script src="./assets/js/lodash.js"></script>
    <script src="./assets/js/chart.js"></script>
    <script src="./assets/js/app.js"></script>
</body>
</html>