/* 
Import/includes
*/
@import 'foundation';

/* 
Colors
*/
$whatsapp: #25d366;
.whatsapp-green { color: $whatsapp; }
$grey: #F7F7F7;

/* 
Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

* { font-family: 'Open Sans', sans-serif; }

/* 
Background
*/
body {
    margin: 0;
    padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%; 
}

*, *:before, *:after { box-sizing: inherit; }

/* 
App
*/
#app {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    padding: 2rem;
}

// .app-content {
//     max-width: 62.5rem;
// }

.title {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 600;
}

/* 
Person messages count
*/
.person-messages-count {
    background-color: $grey;
    border-radius: 0.1875rem;
    margin-bottom: 1.875rem;
    padding: 0.5rem 1rem;
    min-width: 17.34375rem; 
    .person-name {
        font-size: 1rem;
        color: #3D3D3D;
    }
    .person-value {
        span:first-of-type {
            font-size: 2.125rem;
            color: $whatsapp;
            letter-spacing: 0.1875rem;
        }
        span:last-of-type {
            font-size: 1.125rem;
            color: #BFBFBF;
            letter-spacing: 0.1875rem;
            display: inline-block;
            transform: translateY(-0.375rem);
            &:before {
                content: '|';
                opacity: 0.3;
                padding-right: 0.4rem;
            }
        }
    }
    transition: all 0.1s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
}

/* 
Headings
*/

h2 {
    opacity: 0;
    transform: translateY(30px);
    transition: all 2s 2s ease-in-out;
}

h2.animated {
    opacity: 1;
    transform: translateY(0);
}

/* 
Transition groups
*/
.list-enter-active, .list-leave-active {
  transition: all 0.75s;
  pointer-events: none;
}
.list-enter, .list-leave-to /* .list-leave-active for <2.1.8 */ {
  opacity: 0;
  transform: translateY(1.875rem);
}
.list-group {
    $whatsapp-group-max-value: 250;
    @for $i from 1 to $whatsapp-group-max-value {
        .list-enter-active:nth-child(#{$i}) {
            transition-delay: $i * 0.06s;
        }
    }
}